<!DOCTYPE html>
<html>
  <head>{{!-- Document Settings --}}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">{{!-- Page Meta --}}
    <title>{{ meta_title }}</title>
    <meta name="description" content="{{meta_description}}">{{!-- Mobile Meta --}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">{{!-- Brand icon --}}
    <link rel="shortcut icon" href="{{asset 'favicon.ico'}}">{{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" type="text/css" href="{{ asset 'css/normalize.css' }}">
    <link rel="stylesheet" type="text/css" href="{{asset 'css/main.css'}}">
    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}
  </head>
  <body class="{{ body_class }}">
    {{!-- The blog navigation links --}}
    {{navigation}}
    <div class="site-wrap">
      {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
      {{{body}}}
      {{!-- The tiny footer at the very bottom --}}
    </div>
    <div class="outroCta primaryBg">
      <section>
        <div class="seven">
          <h3 class="white">Get insights from RayNa</h3>
          <h4>Directly in your inbox</h4>
        </div>
        <div class="five"><!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="//raynacorp.us13.list-manage.com/subscribe/post?u=937bd69ad64a8e36f7fcd5562&amp;id=3670e29a18" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <div class="mc-field-group">
          <input placeholder="Enter your email" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
      </div>

      <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_937bd69ad64a8e36f7fcd5562_3670e29a18" tabindex="-1" value="">
      </div>

      <div class="clear">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn--askRayna btn--secondary">
      </div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->

        </div>
      </section>
    </div>
    <div class="footer primaryBg-shade white">
      <footer>
        <div class="five">
          <h3>RayNa Corp</h3>
          <p>We're pretty social.</p>
          <p>
            Get tuned into what's happening from industry leaders and the tech
            field. Maybe even catch a cat video!
            
          </p>
          <div class="footer-socialLinks"><a href="https://twitter.com/RayNaCorp">@RayNaCorp</a><a target="_blank" href="https://www.facebook.com/pg/legalbilling" style="margin-left: 1rem">Facebook</a><a target="_blank" href="https://www.linkedin.com/company-beta/3290420/" style="margin-left: 1rem">LinkedIn</a></div>
          <p>© RayNa Corp 2017</p><a class="fogAttribution-group" target="_blank" href="http://fog.haus" style="color: #554971">
            <p>Expertly assembled by</p><img src="{{ asset 'fog-logo.svg' }}" style="width: 75px; margin-top: 8px"></a>
        </div>
        <div class="seven">
          <div class="footer-siteNav"><a href="/blog">Blog</a><a href="/contact-us">#AskRayna</a><a href="/services">Services</a><a href="/contact-us">Contact</a></div>
          <div class="row footer-cta">
            <div class="half">
              <p>Still confused after reading all that?</p>
            </div>
            <div class="half"><a href="/contact-us">
                <button class="btn--askRayna btn--fullWidth btn--secondary u-pullRight">#AskRayNa</button></a></div>
          </div>
          <div class="row footer-address u-text-right" style="margin-top: 48px">
            <div class="whole">
              <p>320 E Main St. Ste 200</p>
              <p>Murfreesboro, TN 37130</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script type="text/javascript" src="https://unpkg.com/promise-polyfill"></script>
    <script type="text/javascript" src="https://unpkg.com/whatwg-fetch"></script>
    <script type="text/javascript" src="https://unpkg.com/moment"></script>
    <script type="text/javascript" src="https://unpkg.com/vue/dist/vue.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
    <script type="text/javascript">
      Vue.filter('excerpt', function excerpt (html, len) {
        len = len === void 0 ? 150 : len;
      
        var excerpt = html.replace(/<a href="#fn.*?rel="footnote">.*?<\/a>/gi, '');
        excerpt = excerpt.replace(/<div class="footnotes"><ol>.*?<\/ol><\/div>/, '');
        // Strip other html
        excerpt = excerpt.replace(/<\/?[^>]+>/gi, '');
        excerpt = excerpt.replace(/(\r\n|\n|\r)+/gm, ' ');
      
        return excerpt.slice(0, len) + '...';
      });
      
      Vue.filter('calcReadTime', function calcReadTime (val) {
        var count = val.split(' ').length;
        var seconds = (count / 3);
        var mins = seconds / 60;
        return Math.ceil(mins);
      });
      
      Vue.filter('fmatDate', function fmatDate (val) {
        return window.moment(val).format('MM/DD/YY')
        //return val
      });
      
    </script>{{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script type="text/javascript" src="https://unpkg.com/jquery"></script>
    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}
    <!--script(type="text/javascript", src="{{asset 'js/jquery.fitvids.js'}}")-->
    <script type="text/javascript" src="{{asset 'js/index.js'}}"></script>
  </body>
</html>