<!DOCTYPE html>
<html>
  <head>{{!-- Document Settings --}}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">{{!-- Page Meta --}}
    <title>{{ meta_title }}</title>
    <meta name="description" content="{{meta_description}}">{{!-- Mobile Meta --}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">{{!-- Brand icon --}}
    <link rel="shortcut icon" href="{{asset 'favicon.ico'}}">{{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" type="text/css" href="{{ asset 'css/normalize.css' }}">
    <link rel="stylesheet" type="text/css" href="{{asset 'css/main.css'}}">
    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}
  </head>
  <body class="{{ body_class }}">
    {{!-- The blog navigation links --}}
    {{navigation}}
    <div class="site-wrap">
      {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
      {{{body}}}
      {{!-- The tiny footer at the very bottom --}}
    </div>
    <div class="outroCta primaryBg">
      <section>
        <div class="seven">
          <h3 class="white">Get weekly insights from RayNa.</h3>
          <h4>Directly in your inbox every Friday Morning.</h4>
        </div>
        <div class="five">
          <input type="email" placeholder="email address">
        </div>
      </section>
    </div>
    <div class="footer primaryBg-shade white">
      <footer>
        <div class="five">
          <h3>RayNa Corp</h3>
          <p>We're pretty social.</p>
          <p>
            Get tuned in to the best words from industry leaders down to the
            very minute.
            
          </p>
          <div class="footer-socialLinks"><a href="">Twitter</a><a href="" style="margin-left: 1rem">Facebook</a></div>
          <p>© RayNa Corp 2016</p>
        </div>
        <div class="seven">
          <div class="footer-siteNav"><a href="/blog">Blog</a><a href="/contact-us">#AskRayna</a><a href="/services">Services</a><a href="/contact-us">Contact</a></div>
          <div class="row footer-cta">
            <div class="half">
              <p>Still confused after reading all that?</p>
            </div>
            <div class="half">
              <button class="btn--fullWidth btn--secondary u-pullRight">Ask RayNa</button>
            </div>
          </div>
          <div class="row footer-address u-text-right" style="margin-top: 48px">
            <div class="whole">
              <p>320 E Main St. Ste 200</p>
              <p>Murfreesboro, TN 37130</p>
            </div>
          </div>
        </div>
      </footer>
    </div>{{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}
    <script type="text/javascript" src="{{asset 'js/jquery.fitvids.js'}}"></script>
    <script type="text/javascript" src="{{asset 'js/index.js'}}"></script>
  </body>
</html>