
{{!< default}}
{{!-- This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. --}}
{{!-- Everything inside the #post tags pulls data from the page --}}
{{#post}}
<main>
  <div class="primaryBg-shade white hasBg" style="background-image: url('{{ asset 'services-banner.jpg' }}')">
    <header>
      <h1 class="whole">We're Ready When You Are</h1>
      <div class="seven">
        <p>
          We strive to understand our clients' needs. We go the extra mile to
          meet you where you are. We don't expect you to change your system, we
          work within it to improve the entire system.
          
        </p>
        <p>
          See below for an overview of our services. Don't see your specific
          needs - reach out and if we can't help you - maybe we know someone
          who can!
          
        </p>
      </div>
    </header>
  </div>
  <section>
    <div class="half">
      <h1 class="colorPrimary">Our Services</h1>
      <div class="serviceGroup">
        <h2 class="colorPrimary">Billing</h2>
        <ul>
          <li>AOC indigent claim entry and fund advancement</li>
          <li>Remote legal billing</li>
          <li>Trust Auditing</li>
        </ul>
      </div>
      <div class="serviceGroup">
        <h2 class="colorPrimary">Medical Record Retrieval</h2>
        <ul>
          <li>Improving of record retrieval process</li>
          <li>
            Requesting of records, follow up procedures, and data entry as
            needed
            
          </li>
        </ul>
      </div>
      <div class="serviceGroup">
        <h2 class="colorPrimary">Process and Technology Consulting</h2>
        <ul>
          <li>Practice management software implementation and training</li>
          <li>Apps/programs you never knew you needed</li>
          <li>Efficiency audit and refinement</li>
        </ul>
      </div>
    </div>
    <div class="half">
      <h2 class="colorPrimary" style="margin-top: 144px">
        Did I mention we’re smart and nerdy about this stuff?  Hire us and
        we’ll work with you to find ways for you to work less and make more
        money.
        
      </h2>
    </div>
  </section>
  <div class="secondaryBg-shade white">
    <section>
      <h1>RayNa's favorites</h1>
      <div class="products">
        <div class="productGroup row">
          <div class="fourth"><img src="{{ asset 'clio-logo.jpg' }}"/></div>
          <div class="three-fourths">
            <h3>Clio</h3>
            <p>
              Clio is my pick for practice management/billing software for many
              firms as it provides a ton of integrations and customization,
              without an overwhelming learning curve.  The integrations create
              an efficient way to run your business without spending too much
              time or money. Use the Referral code <span class="underline">RAYNA</span> to become assigned to
              us as your Clio Certified Pro Consultant.  We will work with you
              to get you the best discounts and set up as efficiently as
              possible.
              
            </p>
          </div>
        </div>
        <div class="productGroup row">
          <div class="fourth"><img style="padding-top: 26px" src="{{ asset 'casemail-logo.png' }}"/></div>
          <div class="three-fourths">
            <h3>CaseMail</h3>
            <p>
              We have first-hand knowledge of how simple, mundane tasks of the
              everyday can eat away at your productivity.  Mailing, especially multiple
              mailings and certified mail take valuable time and resources.  CaseMail is an
              ingenious way to turn the mailing of documents into a simple process you can
              complete right from your computer. CaseMail does for physical mailing what
              e-fax options did for physical faxing. Try them out and tell them you heard it
              here!
              
            </p>
          </div>
        </div>
        <div class="productGroup row">
          <div class="fourth"><img src="{{ asset 'chrometa-logo.png' }}"/></div>
          <div class="three-fourths">
            <h3>Chrometa</h3>
            <p>
              What is Chrometa?  It is a necessary tool for anyone looking to
              find that "lost" time.  Chrometa tracks time behind the scenes
              while you continue working.  It logs the actual time you spend in
              various applications (no more guessing). Download it to your
              smartphone and get your phone calls and text messages logged as
              well!  Simply assign those entries to a client/matter a few
              minutes each day and sync weekly with your billing programs!
              Integrate with existing billing and accounting options and save
              tons of data entry time.  Use our affiliate code “rayna” or
              simply <a class="colorSecondary-tint" href="http://www.chrometa.com/#_a_raynacorp">click here</a>.
              
            </p>
          </div>
        </div>
        <div class="productGroup row">
          <div class="fourth"><img src="{{ asset 'rocket-matter-logo.png' }}"/></div>
          <div class="three-fourths">
            <h3>RocketMatter</h3>
            <p>
              RocketMatter is a cloud-based practice management and billing
              program with a strong focus on billing.  RocketMatter’s well
              thought out billing options are some of the best in the industry.
              It brings some real world solutions to retainers, billing and
              even credit card options that make billing and collecting money
              more efficient.  Our current favorite option is payment plan
              drafts by credit card as an automatic process.  Click here for
              a <a class="colorSecondary-tint" href="https://www.rocketmatter.net/public/pages/Signup/Step1.aspx?rm-referral=raynacorp">free trial</a>.
              
            </p>
          </div>
        </div>
        <div class="productGroup row">
          <div class="fourth"><img src="{{ asset 'click-to-file-logo.png' }}"/></div>
          <div class="three-fourths">
            <h3>ClicktoFile</h3>
            <p>
              Outlook and MacMail users with Clio find saving emails to Clio
              clunky and time consuming.  ClicktoFile is the simplest way we
              have found to get your client emails saved from Outlook or Mac
              Mail with one simple click.  Try a <a class="colorSecondary-tint" href="http://sites.fastspring.com/justclicktofile/product/justclicktofile?source=raynacorp">free trial here</a>.
              
            </p>
          </div>
        </div>
        <div class="productGroup row">
          <div class="fourth"><img src="{{ asset 'hootsuite-logo.png' }}"/></div>
          <div class="three-fourths">
            <h3>Hootsuite</h3>
            <p>
              Everyone tells you that social media is a must as a marketing
              tool no matter what type of business you have.  But really - who
              has the time to post, tweet, update and share every day?
              HootSuite is the who and the how!  Post to all your social media
              sites at the same time.  Schedule your posts for the most
              effective times. And do it in a few minutes a day - not hours.
              <a class="colorSecondary-tint" href="http://www.jdoqocy.com/click-7413348-11077649">Free trial</a> means no more excuses.
              
            </p>
          </div>
        </div>
        <div class="productGroup row">
          <div class="fourth"><img src="{{ asset 'xero-logo.svg' }}" style="width: 150px"/></div>
          <div class="three-fourths">
            <h3>Xero</h3>
            <p>
              Xero is one of the simplest, easiest accounting programs we have
              ever used.  It has some great integration to save time and money
              and best of all – it has payroll built in!  If you are tired of
              accounting programs that aren’t made for the average small
              business user, then Xero is worth your time!  <a class="colorSecondary-tint" href="http://www.anrdoezrs.net/click-7413348-12172457">Free trial</a>
              means no risk.
              
            </p>
          </div>
        </div>
      </div>
      <h2>
        These are our fav's because they make us better, faster and save us
        money. We offer lots of services to go along with these items,
        including potential discounts. Let us help you through the process so
        you can be better, faster and spend less too.
        
        
      </h2>
    </section>
  </div>
</main>{{/post}}