
{{!< default}}
{{#post}}
{{#if image }}
<div class="bgWrap" style="background-size: cover; background-image: url({{ image }});">
{{else }}
<div class="bgWrap" style="background-size: cover; background-image: url('/assets/desk-img.jpg');">
{{/if }}
<div class="blackGradientMask">
  <div class="articleHeader white">
    <header>
      <h1 class="half">{{ title }}</h1>
    </header>
  </div>
</div></div> <!-- /bgWrap -->
<div class="articleContent black">
  <article>{{ content }}</article>
</div>
<hr/>
<div class="container row">
  <div class="half">
    <p>Recent Posts</p>
  </div>
  <div class="half">
    <p class="u-text-right"><a href="/blog">More Posts &gt;&gt;</a></p>
  </div>
</div>
<section>{{#prev_post}}<a href="{{url}}">
    <div class="half">{{#if image}}<img src="{{ image }}"/>{{else}}<img src="{{ asset 'desk-img.jpg' }}"/>{{/if}}
      <h3>{{ title }}</h3>
      <p>{{ excerpt words="20" }} &hellip;</p>
      <p>11/04/16 • 5 min read</p>
    </div></a>
  {{/prev_post}}
  {{#next_post}}<a href="{{url}}">
    <div class="half">{{#if image}}<img src="{{ image }}"/>{{else}}<img src="{{ asset 'desk-img.jpg' }}"/>{{/if}}
      <h3>{{ title }}</h3>
      <p>{{ excerpt words="20" }} &hellip;</p>
      <p>11/04/16 • 5 min read</p>
    </div></a>{{/next_post}}
</section>{{/post}}